:root {
  --brand-color: rgb(255, 255, 255);
  --black-color: rgb(47, 48, 58);
  --grey-color: rgb(245, 244, 250);
  --blue-color: rgb(33, 150, 243);
  --gray1-color: rgba(255, 255, 255, 0.6);
  --grey_black-color: rgb(117, 117, 117);
}
body {
  font-family: "Roboto" serif;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(19 / 14);
}
.container {
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 2px solid rgb(0, 0, 0);
}
.developments {
  margin-bottom: 94px;
}
.hero {
  margin-bottom: 94px;
  text-align: center;
  background-color: var(--black-color);
  left: auto;
  right: auto;
}
.advantages {
  margin-bottom: 118px;
}
.hero-button {
  background-color: var(--blue-color);
  text-align: center;
  margin: 0 auto;
}
.team {
  display: flex;
  flex-direction: row-reverse;
}
.developments {
  display: flex;
  flex-direction: row-reverse;
}
