:root {
  --brand-color: rgb(255, 255, 255);
  --black-color: rgb(47, 48, 58);
  --grey-color: rgb(245, 244, 250);
  --blue-color: rgb(33, 150, 243);
  --gray1-color: rgba(255, 255, 255, 0.6);
  --grey_black-color: rgb(117, 117, 117);
}
body {
  font-family: "Roboto", "serif";
  font-weight: 400;
  font-size: 14px;
  line-height: calc(19 / 14);
}
.container {
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 2px solid rgb(0, 255, 76);
  height: 100%;
}
.developments {
  margin-bottom: 94px;
}
.hero {
  text-align: center;
  background-color: var(--black-color);
  height: 600px;
  margin: 0 auto;
}
.hero-button {
  width: 216px;
  height: 50px;
  background-color: var(--blue-color);
  color: var(--brand-color);
  font-size: 16px;
  line-height: calc(30 / 16);
  margin-right: 100px;
  margin-top: 140px;
  cursor: pointer;
}
.hero {
  display: flex;
}
.hero-title {
  padding-top: 175px;
  margin-left: 200px;
  line-height: 60px;
  color: var(--brand-color);
  height: 120px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
}
.developments-list {
  display: flex;
}
.developments-item:not(:last-child) {
  margin-right: 30px;
}
.developments-title:nth-child(-n + 5) {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
}
.developments-title {
  text-align: center;
}
.team-list {
  display: flex;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-title:nth-child(-n + 5) {
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 36px;
}
.team-title {
  text-align: center;
}
.header-flex {
  display: flex;
  height: 80px;
  align-items: center;
}
.header {
  height: 80px;
  margin: 0 auto;
}
.header-nav-item {
  margin-right: 48px;
  text-align: center;
}
.header-nav-list {
  display: flex;
}
.header-contact-list {
  display: flex;
}
.header-contact-link {
  margin-right: 48px;
  font-weight: 400;
  font-size: 14px;
}
.header-nav-list {
  display: flex;
}
.header {
  display: flex;
}
.header-logo {
  margin-right: 91px;
  font-weight: 700;
  font-size: 26px;
}
.blue {
  color: var(--blue-color);
}
.black {
  color: var(--black-color);
}
.header-contact-link:hover {
  background-color: var(--brand-color);
}
.footer-contact {
  display: flex;
}
.white {
  color: var(--brand-color);
}
.footer {
  background-color: var(--black-color);
  margin: 0 auto;
}

.footer-logo {
  font-family: Raleway;
  line-height: 31px;
}

.footer-email,
.footer-number {
  line-height: inherit;
  color: white;
}
.footer-web {
  color: var(--blue-color);
}
.footer-text-kiyv {
  color: var(--white-color);
  font-weight: 400;
  font-family: Raleway;
  line-height: inherit;
}
.footer-logo {
  color: var(--white-color);
  line-height: 30.52px;
  font-family: Raleway;
  font-weight: 700;
}

.hero-button {
  font-weight: 216;
  height: 50;
}

.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}
.header-nav-list {
  margin-right: 344px;
}
.advatages-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.advatages-text {
  width: 270px;
}
.advatages-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.advatages-list-item:not(:last-child) {
  margin-right: 30px;
}
.advatages {
  margin-bottom: 50px;
  margin-top: 50px;
}
.developments-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.developments-item:not(:last-child) {
  margin-right: 30px;
}
.team-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.team-title {
  margin-bottom: 50px;
}
.flex-team {
  display: flex;
  justify-content: center;
  align-items: center;
}
.advatages-title-uvaga {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  font-family: Roboto;
}
.title-punkt {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  font-family: Roboto;
}
.title-plan {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  font-family: Roboto;
}
.title-tech {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  font-family: Roboto;
}
.advantages-text {
  color: rgb(117, 117, 117);
  background-color: rgb(117, 117, 117);
}
.team {
  text-align: center;
  height: 648px;
}
.flex-team {
  flex-direction: column;
}
