:root {
  --brand-color: rgb(255, 255, 255);
  --black-color: rgb(47, 48, 58);
  --grey-color: rgb(245, 244, 250);
  --blue-color: rgb(33, 150, 243);
  --gray1-color: rgba(255, 255, 255, 0.6);
  --grey_black-color: rgb(117, 117, 117);
}
body {
  font-family: "Roboto" serif;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(19 / 14);
}
.container {
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 2px solid rgb(0, 0, 0);
}
.developments {
  margin-bottom: 94px;
}
.hero {
  margin-bottom: 94px;
  text-align: center;
  background-color: var(--black-color);
  left: auto;
  right: auto;
  width: 1600px;
  height: 600px;
}
.advantages {
  margin-bottom: 118px;
}
.hero-button {
  background-color: var(--blue-color);
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  color: var(--brand-color);
  width: 216px;
  height: 50px;
}

.advantages-list {
  display: flex;
}
.advantages-item:not(:last-child) {
  margin-right: 30px;
}
.advantages-title:nth-child(-n + 5) {
  margin-bottom: 10px;
}
.hero {
  display: flex;
}
.hero-title {
  color: var(--brand-color);
  font-weight: 900;
  font-size: 44px;
}
.developments-list {
  display: flex;
}
.developments-item:not(:last-child) {
  margin-right: 30px;
}
.developments-title:nth-child(-n + 5) {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
}
.developments-title {
  text-align: center;
}
.team-list {
  display: flex;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-title:nth-child(-n + 5) {
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 36px;
}
.team-title {
  text-align: center;
}
.header-flex {
  display: flex;
}
.header {
  width: 1600px;
  height: 80px;
}
.header-nav-item {
  margin-right: 48px;
  text-align: center;
}
.header-contact-list {
  display: flex;
}
.header-contact-link {
  margin-right: 48px;
  font-weight: 400;
  font-size: 14px;
}
.header-nav-list {
  display: flex;
}
.header {
  display: flex;
}
.header-logo {
  margin-right: 40px;
  font-weight: 700;
  font-size: 26px;
}
.advantages-text {
  font-size: 14px;
  font-weight: 400;
}
.blue {
  color: var(--blue-color);
}
.black {
  color: var(--black-color);
}
.blue1 {
  color: var(--blue-color);
}
.black1 {
  color: var(--black-color);
}
.black2 {
  color: var(--black-color);
}
.black3 {
  color: var(--grey_black-color);
}
.blue2 {
  color: var(--blue-color);
}
.footer-contact {
  display: flex;
}
.white {
  color: var(--brand-color);
}
.footer {
  background-color: var(--black-color);
}
.footer-text {
  color: var(--grey_black-color);
  font-weight: 400;
  font-size: 14px;
}
.footer-link {
  color: var(--grey_black-color);
  font-weight: 400;
  font-size: 14px;
}
.footer-studio {
  font-weight: 700;
  font-size: 26px;
}
.hero-button {
  font-weight: 216;
  height: 50;
  margin-top: 200px;
}
.hero-title {
  font-weight: 696;
  height: 120;
  margin-top: 170px;
}
.hero {
  width: 1230;
  size: 150px;
}
